*{
    margin: 0;
    padding: 0;
}
.cs-ul{
    display: flex;
    width: 100%;
    justify-content: center;
    gap:20px;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 80%;
    flex-wrap: wrap;
}
.header>.cs-pic>img{
    height: 41%;
    width: 100%;
    margin-bottom: 7px;
}
.banner>.right>p{
    color: #000;
    font-weight: 300;
    font-size: 26px;
    font-family: sans-serif;
}
.banner>.right>h1{
    color: #000;
    font-weight: 700;
    font-size: 96px;
    font-family: sans-serif;
}
.banner>.left>img{
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}
.cs-content>.banner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 78%;
    justify-content: space-around;
}

@media  only  screen and(max-width:1169px){
    .header{
        display: block;
    }
    .cs-pic{
        flex-direction: row;
    }
}