body{
    overflow: hidden;
}
header{
    display: flex;
    align-items: center;
    margin: 0px 10px;
}
header>nav>ul{
    display: flex;justify-content: center;
}
header>nav>ul>li>a{
    text-decoration: none;
    color: black;
}
header>nav>ul>li{
    list-style-type: none;
    margin: 0px 20px;
    font-family: sans-serif;
}
header>nav{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-right: 30px;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
}
.banner>.left{
    display: flex;
}
.banner>.left>.column-pic{
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 100vh;
}
.banner>.left>img{
    height: 90vh;
    margin-right: 6px;
}
.banner>.left>.column-pic>img{
    height: 45vh;
}

.banner>.right>p{
    font-weight: 300;
    font-size: 26px;
    font-family: sans-serif;
}
.banner>.right>h1{
    font-weight: 700;
    font-size: 96px;
    font-family: sans-serif;
}
/* @media only screen and(max-width:900px){
    body{
        overflow: visible;
    }
    .banner>.left{
        display: flex;
        flex-wrap: wrap;
    }
    .banner>.left>.column-pic{
        display: flex;
        flex-direction: row;
        gap: 4px;
        height: 100vh;
        flex-wrap: wrap;
    }
    .banner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
} */